.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

.description-bottom {
    width: 98%;
    margin: auto;
}

.next-button {
    width: fit-content;
    margin-left:auto;
    margin-right:0
}

.progress-position {
    margin-top:11px;
  }

.image-size {
    width: 100%
}