.top-margin{
    margin-top: 2%
}

.center-content{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 99%;
    padding: 5% 0;
}

.bottom-bar {
    position: fixed;
    left: 0;
    width: 100%;
    bottom: 10px;
    text-align: center;
}

.max-size {
    width: 100%;
}

.image-size {
    width: 100%
}

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

.next-button {
    width: fit-content;
    margin-left:auto;
    margin-right:10px
}

.progress-position {
    margin-top:11px;
}

.sizecard {
    max-width: 60%;
}