/* Home icon */
.buttons {
    float: left;
    margin-top: 5px;
    margin-left: 5px;
    width: fit-content
  }
  
  /* Select an option text */
 .option {
    margin-top: 8px;
    font-family: 'Montserrat', sans-serif;
  }

  .top {
    margin-top: 2px;
    margin-bottom: 25px;
  }

  /* Clear floats after the columns */
  .top:after {
    content: "";
    display: table;
    clear: both;
    height: 10px;
  }

  .lvls-option {
    width: 88%;
    margin: auto;
    margin-bottom: 2%;
  }

  .models-option {
    width: 58%;
    margin-left: auto;
    margin-right: auto;
  }

  .work {
    height: 300px;
  }