body {
    /* The image used */
    background-image: url("images/gearsBackground.jpg");

    /* Full height */
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
    background-color: #999;
}

button_robot_face {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    position:absolute;
    z-index: 2;
    left:6%;
    bottom:57%;
    height:31%;
    width:32%;

}
.button_image, button_robot_face{
    background-image: url('images/logo.png');
    background-size: 100% 100%;
}


.circle_begin iniciar{
    color:#fff;
    font-family: 'Quicksand', sans-serif;
    text-decoration:none;
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: x-large;
}


div.circle_begin {
    background: #02b9f3;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    height:13%;
    width:10%;
    left: 59%;
    top: 26%;
    cursor: pointer;
}

/*Al dar click*/
.circle_begin:active {
    box-shadow: inset 0 5px 30px rgba(0,0,0,.2); /* Sombra interior */
    background-size: 55%; /* Cambiamos el tamaño de la imagen */
}

.circle_exit salir{
    color:#fff;
    font-family: 'Quicksand', sans-serif;
    text-decoration:none;
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: x-large;
}

div.circle_exit {
    background: #3f51b5;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    height:15%;
    width:11%;
    left: 38.1%;
    top: 52%;
    cursor: pointer;
}
.circle_exit:active {
    box-shadow: inset 0 5px 30px rgba(0,0,0,.2); /* Sombra interior */
    background-size: 55%; /* Cambiamos el tamaño de la imagen */
}


div.gear_image {
    content:url('images/gears.png');
    width: 60%;
    height: 80%;
    left: 22.5%;
    top: 7.5%;
    position: fixed;
}​



